/* Color Palette */

.primary-colors {
  color: #f5f4e8;
  color: #c50d66;
  color: #f07810;
  color: #ffcb8e;
}

.secondary-colors {
  color: #f6f4e7;
  color: #e93b81;
  color: #ffab73;
  color: #ffd384;
}

/* Background Color */

body {
  text-align: center;
  background-color: #d70067;
  padding: 0px;
}

.section-color {
  background-color: #d70067;
  color: #f5f4e8;
}

.section-white {
  background-color: #f6f4e7;
}

.section-footer{
    background-color: #333;
    color: #e93b81;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 600;
}

p {
  font-family: "Lato";
  font-weight: normal;
}


/* Navbar */

.navigation{
    padding-top: 7px;
}

.navbar-logo {
  width: 150px;
  margin-inline: 50%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f6f4e7;
  margin-inline: 50px;
}

.navbar-dark .navbar-toggler {
  color: #f6f4e7;
  border: transparent;
}

/* Headline */

.headline{

}

.headline-bg {
  background-image: url("../images/headline/headline-bg.png");
  background-size: cover;
  height: 1050px;
  text-align: left;
}

.headline-title {
  margin-left: 14px;
  color: #ffcb8e;
  font-size: 3rem;
  font-style: normal;
  line-height: 72px;
}

.headline-column {
  padding: 85px;
}

.headline-image {
  width: 100%;
}

.headline-more {
  margin-left: 14px;
  font-size: 20px;
  line-height: 24px;
  color: #ffcb8e;
}

.fa-chevron-right{
    font-size: 15px;

}

/* Value */

.value{
    padding: 5rem;
}

.value-line{
    width: 69px;
    height: 3px;
    color: #ffcb8e;
}

.value-title{
    color: #c50d66;
    font-size: 3 rem;
}

.value-subtitle{
    font-size: 15px;
}



/* Footer */

.footer{
    padding: 7.5rem;
}
.abcdefg{
    text-align: left;
    line-height: 2.3;
}

.footer-title{
    text-align: left;
}

.footer-links-text{
    text-align: left;
    color: #f5f4e8;
    text-decoration: none;
}

.footer-contacts-text{
    text-align: left;
    color: #FF7000;

}
