.header {
background-color: #D70067;
margin: 0px;
}

.headerButton {
    color: orange;
}


body {
background-color: #F5F4E8;
}


.announcement {
  position: relative;
    background-color: #D70067;

}
.imageOne {
/*   width: 100%; */
    height: 100%;

}
.imageTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    width: 100%;
}
