/* Color Palette */

.primary-colors {
  color: #f5f4e8;
  color: #c50d66;
  color: #f07810;
  color: #ffcb8e;
}

.secondary-colors {
  color: #f6f4e7;
  color: #e93b81;
  color: #ffab73;
  color: #ffd384;
}

/* Background Color */

body {
  text-align: center;
  background-color: #d70067;
  padding: 0px;
}

.section-color {
  background-color: #d70067;
  color: #f5f4e8;
}

.section-value {
  background-color: #d70067;
}

.section-white {
  background-color: #f6f4e7;
}

.section-footer {
  background-color: #333;
  color: #e93b81;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 600;
}

h1 {
  color: #d70067;
}

p {
  font-family: "Lato";
  font-weight: normal;
  color: #333;
  line-height: 1.5;
}

/* Misc */

hr {
  border-top: 7px solid #ffc983;
  opacity: 1;
  width: 7%;
}

.hr-right{
  text-align: right;
  margin-left: auto;
}

.hr-left{
  text-align: left;
  margin-right: auto;
}

.hr-center{
  text-align: center;
  margin-inline: auto;
  width: 20%;
  margin-top: 7%;
  margin-bottom: 7%;
}


/* Navbar */

#navigation {
  padding: 17px 0 17px 0;
}

.navbar-logo {
  width: 150px;
  margin-inline: 50%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f6f4e7;
  margin-inline: 50px;
}

.navbar-dark .navbar-toggler {
  color: #f6f4e7;
  border: transparent;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
  margin-inline: 50px;
}

.navbar-light .navbar-toggler {
  color: #333;
  border: transparent;
}

/* Footer */

.footer {
  padding: 7.5rem;
}
.left-column {
  text-align: left;
  line-height: 2.3;
}

.footer-title {
  text-align: left;
}

.footer-links-text {
  text-align: left;
  color: #f5f4e8;
  text-decoration: none;
}

.footer-contacts-text {
  text-align: left;
  color: #ff7000;
}

.footer-logo {
  width: 15%;
  padding-top: 15px;
}

/* TEST BUTTON */

.btn-outline-primary {
  color: #f6f4e7;
  background-color: transparent;
  background-image: none;
  border-color: #f6f4e7;
  margin-top: 15%;
  margin-bottom: 5%;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #d70067;
  background-color: #f5f4e8;
  background-image: none;
  border-color: #f5f4e8;
}

.btn-group {
  width: 30%;
}

/* Headline */

.headline {
  
}

.headline-bg {
  background-image: url("../images/headline/headline-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 70%;
  /* height: 1050px; */
  text-align: left;
  padding-bottom: 500px;
}

.headline-title {
  /* margin-left: 14px; */
  color: #ffcb8e;
  font-size: 3rem;
  font-style: normal;
  line-height: 72px;
}

.headline-column {
  padding: 85px;
}

.headline-image {
  width: 100%;
}

.headline-scroll{
  text-align: center;
  margin-left: 45%;
}

.headline-logo {
  width: 100%;
  position: relative;
  right: 3%;
}

.headline-more {
  /* margin-left: 14px; */
  font-size: 20px;
  line-height: 24px;
  color: #ffcb8e;
}

.headline-more .hover {
  opacity: 0.5;
}

.fa-chevron-right {
  font-size: 15px;
}

/* Value */

.value {
  /* padding-top: 5rem; */
}
.value-bg {
  background-image: url(../images/value/Mask\ Group.png);

  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: max auto; */
  height: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.value-line {
  width: 69px;
  height: 3px;
  color: #ffcb8e;
}

.value-title {
  color: #c50d66;
  font-size: 3 rem;
}

.value-subtitle {
  font-size: 15px;
}

.value-food-center {
  width: 40%;
  position: relative;
  top: 20px;
  
}

.rotating-food-container {
  background-color: #d70067;
}
.value-rotating-food {
  width: 60%;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

.value-rotating-food:hover{

    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Plans */

.tab-indicator {
  /* position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; */
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.tab-indicator [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.tab-indicator .active {
  opacity: 1;
}

.plan-container {
  width: 80%;
  background-color: #f5f4e8;
  margin: 10%;
  margin-top: 5%;
  padding: 7% 3% 3% 3%;
  border-radius: 50px;
}

.plan-container-text-user {
  padding-right: 20px;
  text-align: left;
}

.plan-container-text-fnb {
  padding-left: 20px;
  text-align: right;
}


.plan-welcome {
  color: #707070;
}

.plan-picture-user {
  width: 100%;
}

.plan-title{
  color: #333;
}

.perk{
  font-size: 1rem;
  text-align: left;
}

.plan-tier-0, .perk-2 .perk-3 .perk-4 {
  opacity: 0.3;
}


/* About */

.about {
  padding: 5%;
}

.about-logo {
  width: 30%;
  margin: 5%;
}

.about-text {
  font-size: 1.5rem;
  line-height: 45px;
  padding: 5%;
}

.about-pictures {
  margin: 5%;
  width: 60%;
}

.about-card{
  position: absolute;
  height: 350px;
  bottom: 0;
}

.about-eats {
  color: #c50d66;
}

.about-app {
  color: #707070;
}


/* Vision Mission */


.vision-mission{
  background-image: url(../images/vision-mission/Subtract.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* height: 1050px;  */
  
}

.vision-mission-picture-container{
  padding-top: 15%;
}

.vision-mission-picture{
  /* height: 720px; */
  /* margin: 20% 10%; */
  text-align: left;
  /* padding: 25% 10%; */
  /* height: 80%; */
  width: 80%;
  /* width: 100%; */
}

.vision-mission-detail{
  /* margin-top: 25%; */
  padding: 20% 10%;
}

.vision-mission-heading{
  color: #ffab73;
  line-height: 3;
}

.vision-mission-text{
  color: #f5f4e8;
  line-height: 1.5;
}

/* Heading */

.pillars{
  padding: 15% 15%;
}

.pillars-images-container{
  margin: 10%;
}
.pillars-images{
  margin-inline: 5%;
  width: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Team */

.team{
  color: #f5f4e8;
  padding: 5%;
}

.team-heading{
  margin: 5%;
  color: #ffab73;
}

.team-text{
  margin: 5%;
}

.avatar-image{
  border-radius: 100%;
  height: 150px;
  margin: 5%;
}

.team-job{
  color: #f5f4e8;
}