@media (max-width: 992px) {
    
    /* General */
    body{
        text-align: center;
    }

    #navigation{
        padding: 0;
    }
    
    /* Headline */
    .headline{
        text-align: center;
    }

    .headline-image{
        display: none;
    }

    .headline-bg{
        height: 700px;
        padding-bottom: 150px;
    }

    /* Footer */
    .footer-logo{
        width: 60%;

    }
}