@media (max-width: 992px) {
    
    /* General */
    body{
        text-align: center;
    }

    #navigation{
        padding: 0;
    }
    
    /* Headline */
    .headline{
        text-align: center;
    }

    .headline-image{
        display: none;
    }

    .headline-scroll{
        display: none;
    }

    .headline-logo{
        width: 80%;
    }

    .headline-more{
        display: block;
    }

    .headline-bg{
        height: 800px;
        padding-bottom: 150px;
    }

    /* Footer */
    .footer-logo{
        width: 60%;

    }
}